<h1>New Comment</h1>

<%= render 'form', comment: @comment %>
<div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", :autofocus => true %>
      </div>

<%= link_to 'Back', comments_path %>
